.customLable {
    color: #0F93FE;
}

.custom-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(15, 147, 254, 0.2);
    display: block;
    outline: none;
    padding: 0 8px 8px 30px;

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
}




.form-control {
    box-shadow: none;
    border-radius: 0;
}