.customFooter p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {

    .customFooter h1,
    .customFooter h2 {
        font-size: 1.5rem;

    }

    .customFooter p {
        font-size: 0.9rem;

    }
}