.customHero {
    background-image: url('/herobg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.customBtn {
    font-size: 24px;
    background-color: #deff4f;
    color: #0f93fe;
    padding: 0.75rem 2rem;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.customBtn:hover {
    background-color: #ffffff;
    /* White background on hover */
    color: #0f93fe;
    /* Blue text color */
}