.customContainer {
    background-color: #deff4f;
    color: #0F93FE;


}

.customContainer .col-border {
    border-right: 3px solid #0F93FE;

}

.customContainer h6 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
}